.Projects form {
    padding-bottom: 15px;
  }
  
.Projects form textarea {
    height: 300px;
    font-size: 24px;
}
.Projects select{
    margin-bottom: 15px;
    
}
.Projects select:active, select:hover {
    outline-color: #00695C
  }
.Projects .LoaderButton{
    
    background-color: #26A69A;
    border: black;

}
.Projects .addDev{
    background-color:#26A69A;
    margin-left:15px;
}

.Projects .removeDev{
    background-color: #26A69A;
    border: black;
    margin-left:15px;


}
.Projects .LoaderButton:hover{
    background-color: #00695C;
}


textarea {resize: none;}